# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store

# =========================
# IDE - IntelliJ
# =========================
.idea/
*.iml
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/

# =========================
# Environment / Secrets
# =========================
.env
application-local.properties